<!doctype html>
<html>
	<head>
		<title> Health record statistics </title>
	</head>
	
	<body>
		<form action = "{{ url_for('insert') }}" method = "POST">
			<table>
				<tr>
					<td>Name: </td>
					<td><input type = "text" name = "name"></td>
				</tr>
				
				<tr>
					<td>Gender: </td>
					<td><input type = "text" name = "gender"></td>
				</tr>
				
				<tr>
					<td>Weight: </td>
					<td><input type = "text" name = "weight"></td>
				</tr>
				
				<tr>
					<td>Height: </td>
					<td><input type = "text" name = "height"></td>
				</tr>
			</table>
			<input type = "submit">
		</form>
		
	</body>
</html>