<!doctype html>
<html>

<head>
<title> Menu </title>
</head>

<body>

{% if noEmail %}
<form action = "{{ url_for('index') }}" method = "POST">
<table>
{% if invalidEmail %}
<tr>
<td>Email already exists! Please re-enter email!</td>
</tr>
{% endif %}
<tr>
<td>Email: <input type = "text" name = "email"></td>
</tr>

<tr>
<td><input type = "submit"></td>
</tr>

</table>
</form>
{% endif %}

{% if not noEmail %}
<form action = "{{ url_for('success') }}" method = "POST">
<table>

<tr>
<td>First name: </td>
<td><input type = "text" name = "fname"></td>
</tr>

<tr>
<td>Last name: </td>
<td><input type = "text" name = "lname"></td>
</tr>

<tr>
<td>Contact number: </td>
<td><input type = "text" name = "contact"></td>
</tr>

<tr>
<td>Date of birth: </td>
<td><input type = "text" name = "dob"></td>
</tr>

<tr>
<td>Address: </td>
<td><input type = "text" name = "addr"></td>
</tr>

<tr>
<td><input type = "submit"></td>
</tr>

</table>
</form>
{% endif %}

</body>

</html>